﻿/*
    ____            __   __                 ________________
   / __ \___  _____/ /__/ /_____  ____     / ____/ ___/ ___/
  / / / / _ \/ ___/ //_/ __/ __ \/ __ \   / /    \__ \\__ \
 / /_/ /  __(__  ) ,< / /_/ /_/ / /_/ /  / /___ ___/ /__/ /
/_____/\___/____/_/|_|\__/\____/ .___/   \____//____/____/
                              /_/
*/

@font-face {
  font-family: 'Gotham-Rounded';
  src: url('../fonts/Gotham-Rounded.eot');
  src: local('☺'), url('../fonts/Gotham-Rounded.woff') format('woff'), url('../fonts/Gotham-Rounded.ttf') format('truetype'), url('../fonts/Gotham-Rounded.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0px;
  margin: 0px;
  background-color:#262425;
  font-family: 'Helvetica Neue', 'Helvetica', Arial;
}
a {
  color: #ddd;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}
.theme_color_background {
  background: #E52D27;
}
h1 {
  color: #434a54;
  font-size: 32px;
  margin-bottom: 35px;
}
h3 {
  border-bottom: 1px solid #e5e5e5;
  color: #CD201F;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 0px;
  padding-bottom: 25px;
  font-size: 25px;
  text-align: center;
}
h3 span {
  font-size: 11px;
  display: block;
  margin-left: 20px;
  position: relative;
  display: none;
}
.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
  background: #E52D27;
}
.video-details h3 {
  text-align: left;
}
.video-details h3 span {
  display: inline-block;
}
.video-details-container {
  padding: 25px;
  background: #272C2E;
  color: #ccc;
}
h4 {
  color: #ccc;
  font-size: 22px;
  margin: 55px;
  font-weight: lighter;
}
h4.subheadline {
  padding: 0px;
  color: #333339;
  font-weight: 400;
  margin: 25px 0px;
}
.clear {
  clear: both;
}
label {
  display: block;
}
#loginSignupModal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.col-md-10 {
  padding: 0px 25px;
}
.col-md-10.no-padding,
.col-md-8.no-padding {
  padding: 0px;
}
/* Place Holder CSS */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #000;
  opacity: 0.5;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #000;
  opacity: 0.5;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
  transition: opacity 0.35s ease-in-out;
}
/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
.navbar,
.navbar-header {
  border-bottom: 0px;
}
.navbar > .container .navbar-brand {
  margin-left: 0px;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
.navbar-brand {
  padding: 15px 10px;
  padding-left: 0px;
  margin-top: 0px;
}
.navbar-header img {
  height: 50px;
  width: auto;
  left: -2px;
  position: relative;
}
.navbar-header .menu-toggle {
  position: absolute;
  top: 16px;

  float: right;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 12px;
  border: 1px solid #efefef;
}
.navbar-header .menu-toggle.right {
  padding-left: 8px;
  padding-right: 12px;
}
.navbar-header .menu-toggle.right i.fa-caret-left {
  display: none;
}
.navbar-header .menu-toggle.right i.fa-caret-right {
  display: block;
}
.navbar-header .menu-toggle i {
  color: #ff0000;
}
.navbar-header .menu-toggle i.fa-caret-left {
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 5px;
}
.navbar-header .menu-toggle i.fa-caret-right {
  display: none;
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 5px;
}
.navbar-header {
  text-align: center;
  /*border-right: 1px solid #F0F4F9;*/
  height: 65px;
}
.navbar > .container-fluid .navbar-brand {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
.navbar > .container-fluid .navbar-brand img {
  position: relative;
  left: 154px;
}
.search {
  background: #000;
  position: relative;
  display: block;
  padding: 0px;
}
.search form {
  margin: 0px;
}
.search1-only1
{
width:65%;
}

.search input {
  position: relative;
  width: 65%;
  height: 100%;
  display: block;
  padding: 18px;
  padding-top: 16px;
  font-size: 20px;
  border: 0px;
  height: 65px;
  max-height: 70px;
  padding-left:13px;
  outline: none;
}

.search input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.search input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.search input::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

.search .fa {
  position: absolute;
  z-index: 999;
  top: 18px;
  left: 122px;
  font-size: 24px;
  color: #ccc;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff;
}
/********** LEFT SIDEBAR **********/
#left-sidebar {
  position: fixed;
  margin-top: 65px;
  height: 100%;
  background: #191D20;
  display: block;
  float: left;
  z-index: 99999;
  padding-top: 15px;
}
#left-sidebar .navbar-nav li a {
  padding: 5px;
  padding-left: 15px;
  color: #7B858D;
  font-weight: 500;
  left: 15px;
}
#left-sidebar .caret {
  display: inline-block;
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-left-color: #393939;
  margin-top: 0px;
  margin-left: 5px;
}
#left-sidebar h4 {
  margin: 0px;
  margin-top: 20px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 12px;
  color: #5f5f5f;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.guide-menu {
  padding-bottom: 20px;
}
.guide-menu a {
  width: 100%;
  display: block;
  font-size: 13px;
  padding-left: 30px;
  margin: 10px 0px;
  font-weight: normal;
  color: #7B858D;
  font-weight: 500;
  transition: color 0.3s ease;
}
.guide-menu a i.fa-home {
  font-size: 17px;
  top: 2px;
  left: -4px;
  position: relative;
}
.guide-menu a i.hv-home-house-streamline,
.guide-menu a i.hv-tv,
.guide-menu a i.hv-book-read-streamline {
  font-size: 17px;
  top: 4px;
  left: -4px;
  position: relative;
}
.guide-menu a i.hv-home-house-streamline {
  top: 3px;
}
.guide-menu a:hover {
  text-decoration: none;
  color: #9Ba5aD;
}
/********** END LEFT SIDEBAR **********/
#main-content {
  padding: 0px;
  padding-top: 65px;
  overflow: hidden;
}
#main-content h3.header {
  background: #CD201F;
  color: #fff;
  text-align: left;
  margin-top: 0px;
  padding: 25px;
  font-weight: lighter;
}
#main-content h3.header.no-margin-bottom {
  margin-bottom: 0px;
  border-bottom: 0px;
  z-index: 9;
}
.navbar-default {
  background: #000;
  border-bottom: 0px;
  margin-bottom: 0px;
  z-index: 999999;
  height: 65px;
  border-top: 0px solid #CA0503;
}
.navbar-default .navbar-toggle {
  position: absolute;
  float: left;
  margin-right: 0px;
  margin-left: 15px;
  border-width: 0px;
  margin-top: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc;
}
.modal-open .navbar-default {
  z-index: 0;
}
.form-control {
  /*padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  border-radius: 2px;*/
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  padding-top: 0px;
}
.form-signin-heading,
.form-login-heading {
  margin-top: 40px;
  text-align: center;
}
.form-signin input {
  margin-bottom: 10px;
  border-width: 1px;
}
.form-signin p {
  text-align: center;
}
.password-reset-btn {
  margin-bottom: 20px;
}
.navbar-nav li a {
  padding: 12px 20px;
}
.navbar-default .navbar-nav > li > a:hover {
  background: none;
}
.navbar-default .navbar-nav > li > a {
  color: #333;
  background: none;
}
.navbar-nav > li > a {
  font-weight: bold;
  font-size: 14px;
  font-weight: normal;
}
.navbar-nav > li > a i.hv-font {
  font-size: 20px;
  top: 5px;
  left: -4px;
  position: relative;
}
.navbar-default .navbar-nav > li > a {
  transition: background-color 0.3s ease;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  text-decoration: underline;
}
.navbar-default .navbar-nav > a:visited,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.home .navbar-left .navbar-nav > li > a:hover {
  background: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: #CD201F;
  text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ccc;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-menu {
  border: 0px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main-nav-row {
  margin-left: 0px;
  margin-right: 0px;
}
.second-nav {
  z-index: 999998;
  min-height: 55px;
}
.second-nav .navbar-left {
  display: block;
}
.second-nav #mobile-subnav {
  display: none;
  width: 50%;
  float: left;
  border-radius: 2px;
  line-height: 55px;
  margin-left: 10px;
  cursor: pointer;
  color: #A7B3C2;
  top: 1px;
  position: relative;
}
.second-nav #mobile-subnav:hover {
  color: #8793A2;
}
.second-nav .modal-open.right-nav {
  position: absolute;
  z-index: 99;
}
.second-nav .navbar-right {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background: #f9f9f9;
  padding-left: 20px;
}
.second-nav .navbar-right form {
  margin: 0px;
}
.second-nav .navbar-right form i {
  display: inline-block;
  font-size: 1.4em;
  color: #A7B3C2;
}
.second-nav .navbar-right input {
  padding: 16px;
  padding-top: 17px;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  background: #F9F9F9;
  width: 200px;
  background: transparent;
  border: none;
  text-shadow: 0 0.1px 0.1px #A7B3C2;
  color: #A7B3C2;
}
.second-nav .navbar-right input:focus {
  outline: none;
}
.second-nav.navbar {
  height: auto;
  background: #fff;
  border-top: 0px;
}
.second-nav .navbar-nav.navbar-left li:first-child a {
  margin-left: 0px;
}
.second-nav.navbar-default .navbar-nav > li > a:hover {
  background: #1C76B6;
  color: #fff;
}
.second-nav.navbar-default .navbar-nav .dropdown li {
  border-right: 0px;
  width: 100%;
}
.second-nav.navbar-default .navbar-nav .dropdown li a {
  border-right: 0px;
}
.second-nav.navbar-default .navbar-nav li {
  margin-right: 0;
  display: inline-block;
  border-right: 1px solid #ddd;
  float: left;
}
.second-nav.navbar-default .navbar-nav li a {
  padding: 17px 20px;
  padding-top: 18px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #AAB2BD;
}
.second-nav.navbar-default .navbar-nav li.active a {
  background: #9FCA39;
  color: #fff;
}
.second-nav.navbar-default .navbar-nav li.dropdown.open .dropdown-menu a {
  color: #AAB2BD;
  margin-left: 0px;
}
.second-nav.navbar-default .navbar-nav li.dropdown.open .dropdown-menu a.dropdown-toggle {
  color: #AAB2BD;
  background: none;
}
.second-nav.navbar-default .navbar-nav li.dropdown.open .dropdown-menu a.dropdown-toggle:hover {
  background: #F5F5F5;
}
.second-nav.navbar-default .navbar-nav li.dropdown.open a.dropdown-toggle {
  color: #fff;
  background: #E52D27;
  text-decoration: none;
}
.second-nav.navbar-default .navbar-nav li.dropdown.open a {
  color: #AAB2BD;
}
/********** TUBED Menu **********/
#left-sidebar .dropdown.open .dropdown-menu {
  left: 100%;
  margin-left: 15px;
  top: 0px;
  background: #191D20;
  border-color: #191D20;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
}
#left-sidebar .dropdown.open .dropdown-menu .dropdown-submenu ul {
  margin-left: 0px;
}
#left-sidebar .dropdown.open .dropdown-menu .dropdown-submenu > a:after {
  margin-right: 5px;
  border-left-color: #444;
}
#left-sidebar .dropdown.open .dropdown-menu .dropdown-submenu > a:after:hover {
  border-left-color: #ccc;
}
#left-sidebar .dropdown.open .dropdown-menu li a:hover {
  background: #191919;
}
.navbar-nav > li > .dropdown-menu {
  width: 100%;
}
#left-sidebar .nav > li > a:hover {
  background: none;
}
#left-sidebar .nav > li > a.dropdown-toggle {
  background: none;
}
.navbar-nav.navbar-right {
  width: 100%;
}
.navbar-nav.navbar-right li.login-desktop,
.navbar-nav.navbar-right li.signup-desktop {
  width: 50%;
}
.navbar-nav.navbar-right li.login-desktop a,
.navbar-nav.navbar-right li.signup-desktop a {
  width: 100%;
  text-align: center;
}
.navbar-nav.navbar-right li.dropdown {
  width: 100%;
}
.navbar-default .navbar-nav > li > a {
  padding: 22px 16px;
  line-height: 21px;
  background: #f9f9f9;
  color: #888;
  border-right: 1px solid #ccc;
  position: relative;
}
.navbar-default .navbar-nav > li > a .border-bottom {
  display: none;
  height: 2px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: #E52D27;
}
.navbar-default .navbar-nav > li.login-desktop a {
  border-right: 1px solid #333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
  background: #f1f1f1;
  color: #676767;
}
.navbar-default .navbar-nav > li > a:hover .border-bottom,
.navbar-default .navbar-nav > li > a:active .border-bottom {
  display: block;
}
.navbar-nav.navbar-right li.signup-desktop,
.navbar-nav.navbar-right li.login-desktop {
  border-left: 0px;
  border-right: 0px;
}
/********** Featured **********/
#featured {
  min-height: auto;
  background: #333;
  padding: 0px;
  overflow: hidden;
}
#featured ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
  height: 100%;
}
#featured ul li {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0px;
}
#featured ul li.active {
  display: block;
}
#featured ul li .bg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
#featured ul li .bg .bg-dimmer {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
#featured ul li .bg-dim-right {
  width: 46%;
  height: 100%;
  right: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
}
#featured ul li .featured-content {
  position: relative;
}
#featured ul li .featured-content img {
  margin: 25px;
  border-radius: 3px;
  float: left;
}
#featured ul li .featured-content .feature-info {
  padding: 25px;
  margin-left: 5%;
  height: 100%;
  min-height: 100%;
  display: block;
  float: left;
}
#featured ul li .featured-content .feature-info .feature_duration {
  color: #00AAC5;
  padding: 10px 0px;
}
#featured ul li .featured-content .feature-info h2 {
  color: #fff;
  font-weight: 200;
  margin-top: 10px;
}
#featured ul li .featured-content .feature-info p {
  color: #ccc;
}
#featured_loader {
  width: 0%;
  height: 3px;
  background: #CD201F;
  display: block;
  position: absolute;
  top: 0px;
}
/********** END Featured **********/
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #CD201F;
  border-color: #CD201F;
  outline: 0;
}
.btn,
.btn-primary {
  border-radius: 2px;
}
.user h2 {
  margin: 20px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
}
#user-badge {
  background: #f9f9f9;
  width: 100%;
  height: 150px;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}
#user-badge h2 {
  display: block;
  text-align: left;
  padding-top: 15px;
  margin-bottom: 10px;
}
#user-badge img {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 15px;
}
#user-badge .btn-info {
  float: right;
  top: 0px;
  position: absolute;
  top: 20px;
  right: 20px;
}
#user-badge p.member-since {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
#user-badge label {
  padding: 15px;
}
#user-badge input[type="file"] {
  margin-left: 160px;
  width: auto;
}
#user-badge input[type="submit"] {
  float: right;
  margin-bottom: 20px;
}
ul.invoices {
  margin-left: 0px;
  padding-left: 0px;
}
ul.invoices li {
  border: 1px solid #f1f1f1;
  padding: 10px;
  margin-left: 0px;
  list-style: none;
}
ul.invoices li span.date {
  float: left;
  display: block;
}
ul.invoices li span.amount {
  float: right;
  display: block;
  color: #1AB233;
}
.cancel-account-confirmation {
  display: none;
}
.well {
  box-shadow: 0px 0px 0px;
  border-radius: 3px;
  background: none;
  border: 0px solid #ddd;
  background: #f9f9f9;
}
.well label {
  color: #5C5F51;
}
.well .form-control {
  border-color: #dcdfd1;
}
/********** SINGLE VIDEO PAGE **********/
/*#video_container{
  width:900px;
  height:506px;
  margin:0px auto;
}*/
#video_container {
  position: relative;
  padding-bottom: 59%;
  /*padding-top: 20px;*/
  height: 0;
  overflow: hidden;
}
/*Download and install fitvid...*/
#video_container iframe,
#video_container object,
#video_container embed {
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  z-index: 99;
}
#video_bg {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  padding: 20px 25px;
  padding-bottom: 15px;
  position: relative;
}
#video_bg_dim {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
#video_bg_dim.darker {
  background: rgba(0, 0, 0, 0.7);
}
.video-details h3 {
  position: relative;
  padding: 25px;
  margin-top: 0px;
  color: #aaa;
  font-size: 18px;
  background: #2A3134;
  margin-bottom: 0px;
  border-bottom: 0px;
}
.video-details h3 span {
  position: relative;
  top: -1px;
  color: #bbb;
  font-size: 12px;
  margin-left: 8px;
}
.video-details h3 span i {
  color: #E52D27;
}
#video_player {
  z-index: 999;
  width: 100%;
  outline: none;
}
h2#tags {
  font-size: 18px;
  padding: 20px 25px;
  padding-bottom: 10px;
}
#subscribers_only {
  position: relative;
  z-index: 2;
  text-align: center;
  min-height: 420px;
  padding-top: 100px;
}
#subscribers_only h2 {
  color: #eee;
  border-bottom: 0px;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 0px solid #5A626D;
  margin-bottom: 30px;
  display: inline-block;
}
#subscribers_only button {
  padding: 25px 32px;
  font-size: 20px;
  border-radius: 50px;
  border: 0px;
  background: #E52D27;
  color: #fff;
  outline: none;
}
.preview {
  float: right;
}
.modal-body {
  padding-bottom: 20px;
}
h4.modal-title {
  text-align: center;
  padding-top: 10px;
}
#video_title {
  display: none;
  background: #f1f1f1;
}
#video_title h1 {
  font-weight: lighter;
  color: #99999f;
  font-size: 18px;
  margin: 18px 0px;
  line-height: 22px;
}
#video_title span {
  margin: 20px 0px;
  margin-right: 15px;
  float: left;
  font-size: 14px;
}
#disqus_thread {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 584px;
  }
  .modal-body
  {
  /*margin-left:-107px;*/
  }
}
/********* FAVORITE STYLES **********/
.favorite,
.expand {
  float: right;
  position: relative;
  top: -5px;
  border: 0px;
}
.favorite i,
.expand i {
  color: #ccc;
}
.favorite:hover,
.expand:hover {
  background: #E74C3C;
  color: #fff;
}
.favorite:hover i,
.expand:hover i {
  color: #eee;
}
.favorite.active,
.expand.active {
  box-shadow: 0 0px 0px #EBEBEB;
  background: #fff;
}
.favorite.active i.fa.fa-heart,
.expand.active i.fa.fa-heart {
  color: #E74C3C;
}
.favorite.active i.fa.fa-expand,
.expand.active i.fa.fa-expand {
  color: #fff;
}
.favorite.active:hover,
.expand.active:hover {
  background: #EBEBEB;
  color: #333;
}
.favorite.active:hover i,
.expand.active:hover i {
  color: #444;
}
/********* END FAVORITE STYLES **********/
.user-favorites {
  width: 200px;
  border-radius: 40px;
  background: #C0C0C0;
  color: #F1F1F1;
  margin: 0px auto;
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
.user-favorites:hover {
  color: #fff;
  text-decoration: none;
}
.label {
  padding: 6px 8px;
}
.search-results h5 {
  margin-bottom: 20px;
}
/********* VIDEO/POST BLOCK **********/
.favorites .block a.block-thumbnail .details h2 {
  left: -10px;
  bottom: 1px;
}
.block {
  margin-bottom: 30px;
  position: relative;
}
.block.list a {
  float: left;
  display: block;
}
.block.list a img {
  max-width: 300px;
}
.block.list .block-contents {
  float: left;
  padding: 12px;
  padding-left: 5px;
  padding-bottom: 0px;
  max-height: 93px;
  display: block;
}
.block.list .block-contents h2 {
  margin-top: 0px;
  padding-top: 0px;
}
.block.list .block-contents h2 a {
  color: #E52D27;
}
.block.list .block-contents p.date {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  margin-top: 7px;
}
.block.list .block-thumbnail img {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.block.list .block-thumbnail .thumbnail-overlay {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.block .block-contents {
  margin-bottom: 30px;
  float: left;
  display: block;
  max-height: 100px;
  height: 100px;
  overflow: hidden;
}
.block .block-contents .type {
  font-size: 11px;
  font-weight: bold;
  padding: 4px 0px;
  display: block;
}
.block .block-contents a {
  line-height: 15px;
  max-height: 50px;
  overflow: hidden;
  display: block;
  margin-top: 10px;
}
.block .label-info {
  background: #C0C0C0;
}
.block .label-success {
  background: #E52D27;
}
.block .block-contents p.date {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #d82525;
  display: block;
  float: left;
  font-size: 14px;
  height: 8px;
  padding-top: 1px;
  width: 100%;
  margin: 20px 0px;
  position: relative;
}
.block .block-contents p.date .label {
  float: right;
  position: absolute;
  right: 10px;
  top: -1px;
}
.block .block-contents p.desc {
  color: #9a9a9a;
  clear: both;
  font-size: 14px;
  max-height: 40px;
  min-height: 40px;
}
.block a.block-thumbnail:hover span.play-button {
  opacity: 0.9;
  transition: opacity 0.2s linear;
}
.block a.block-thumbnail:hover span.play-button-small {
  opacity: 0.9;
  transition: opacity 0.2s linear;
}
.block a.block-thumbnail:hover .details h2 {
  transition: color 0.2s ease-in;
  color: #fff;
}
.block a.block-thumbnail {
  position: relative;
  border-radius: 3px;
  display: block;
}

.block a.block-thumbnail .type {
  position: absolute;
  right: 10px;
  top: 10px;
}
.block a.block-thumbnail img {
  width: 100%;
  border-radius: 3px;
  height:auto;

}

}
.block a.block-thumbnail span.play-button {
  background: url(/content/themes/tubed/assets/img/play-button-large.png);
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  transition: opacity 0.2s linear;
  opacity: 0;
}
.block a.block-thumbnail span.play-button-small {
  background: url(/aflix/content/themes/tubed/assets/img/playbutton55.png);
        width: 53px;
        height:53px;
        position: absolute;
        bottom: 10px;
        left: 47%;
        top: 43%;
        z-index: 1;
        opacity: 0;
        border-radius: 100px;
        margin-left: -20px;
        margin-top: -20px;
        transition: opacity 0.2s linear;
}
.block a.block-thumbnail span.play-button-small1 {
  background: url(/aflix/content/themes/tubed/assets/img/login.png);
  width: 25px;
  height: 26px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  top:50%;
  z-index: 1;
  opacity:0;
  border-radius: 100px;
}
.block a.block-thumbnail .thumbnail-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#66000000', GradientType=0);
  /* IE6-9 */
  z-index: 1;
}
.block a.block-thumbnail .details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.48);
  height: 25px;
}
.block a.block-thumbnail .details h2 {
  float: left;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  cursor: auto;
  display: inline;
  font-size: 16px;
  font-weight: bold;
  height: auto;
  letter-spacing: -0.5px;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
  width: auto;
  padding: 0px 0px;
  position: absolute;
  bottom: -9px;
  max-height: 25px;
  overflow: hidden;
  color: #ddd;
  max-width: 85%;
  left: 10px;
}
.block a.block-thumbnail .details span {
  float: right;
  color: #fff;
  font-size: 10px;
  margin-right: 10px;
  top: 5px;
  position: relative;
}
form input[type="submit"] {
  float: right;
}
form {
  margin-bottom: 20px;
}
#comments {
  padding: 0px 25px;
  margin-bottom: 20px;
}
/********* Footer pagination *********/
.pagination {
  padding: 10px 0 0 0;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  width: 100%;
  margin-top: 0px;
}
.pagination a {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0 10px;
  text-indent: -9999px;
}
.pagination a:hover {
  background-position: 0 -44px;
}
.pagination a.next_page {
  background-image: url(/aflix/content/themes/tubed/assets/img/icon-next.png);
  background-size: 44px 88px;
}
.pagination a.previous_page {
  background-image: url(/aflix/content/themes/tubed/assets/img/icon-previous.png);
  background-size: 44px 88px;
}
footer,
.home footer {
  position: relative;
  height: auto;
  background: #333;
  border-top: 1px solid #E5E5E5;
}
footer h3,
.home footer h3 {
  color: #aaaaaa;
  text-align: left;
  border-bottom: 0px;
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
}
footer hr,
.home footer hr {
  margin-top: 50px;
}
footer p,
.home footer p {
  color: #999;
}
footer h4,
.home footer h4 {
  color: #aaa;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 38px;
  font-weight: normal;
}
footer .copyright,
.home footer .copyright {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
footer ul,
.home footer ul {
  margin-left: 0px;
  padding-left: 5px;
}
footer ul li,
.home footer ul li {
  list-style: none;
}
footer ul li a,
.home footer ul li a {
  padding: 4px 0px;
  display: block;
  color: #E52D27;
}
footer ul li a:hover,
.home footer ul li a:hover {
  color: #CD201F;
}
footer a.social-link,
.home footer a.social-link {
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  background: #343439;
  margin-top: 20px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
}
footer a.social-link i,
.home footer a.social-link i {
  font-size: 20px;
}
footer a.social-link.facebook,
.home footer a.social-link.facebook {
  background: #425F9C;
  margin-left: 0px;
}
footer a.social-link.twitter,
.home footer a.social-link.twitter {
  background: #53A8E9;
}
footer a.social-link.google,
.home footer a.social-link.google {
  background: #DD4B39;
}
footer a.social-link.youtube,
.home footer a.social-link.youtube {
  background: #C81524;
}
footer a.social-link:hover,
.home footer a.social-link:hover {
  background: #303641;
}
/********** POST STYLES **********/
.post {
  margin-top: 0px;
  padding-bottom: 10px;
}
.post p:first-child {
  margin-top: 0px;
}
.post p {
  margin: 20px 0px;
}
.post .post-img {
  position: relative;
}
.post .post-img h3 {
  position: absolute;
  bottom: 0px;
  padding: 20px 20px;
  left: 20px;
  background: #E52D27;
  color: #fff;
  border-bottom: 0px;
  margin-bottom: 0px;
}
.post .post-img h6 {
  position: absolute;
  bottom: -40px;
  padding: 10px 20px;
  color: #fff;
  margin-bottom: 0px;
  line-height: 20px;
  background: #CD201F;
  left: 20px;
}
.post .post-body {
  background: #fff;
  padding: 20px;
  padding-top: 60px;
  margin-bottom: 20px;
}
.post .post-body .post-guest {
  position: relative;
}
.post .post-body .post-guest .post-guest-content {
  position: relative;
}
.post .post-body .post-guest .post-guest-content .white-fade {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: url('../img/guest-post-fade-bg.png') repeat-x left bottom;
  height: 50px;
}
.post .post-body .post-guest #subscribers_only {
  padding-top: 10px;
  min-height: 180px;
}
.post .post-body .post-guest #subscribers_only h2 {
  font-size: 20px;
  color: #303641;
  margin-bottom: 10px;
}
.post .post-body .post-guest #subscribers_only button {
  padding: 20px 30px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}
/********** END POST STYLES **********/
/********** PAGE STYLES **********/
.page {
  padding: 25px;
  padding-top: 10px;
}
.page h2 {
  border-bottom: 0px;
  text-align: center;
}
.page a {
  color: #E52D27;
}
.page p {
  margin: 20px 0px;
  text-align: left;
}
.heading-divider {
  border-top: 2px solid #DFE1E1;
  display: block;
  width: 70%;
  height: 1px;
  margin: 40px auto;
}
ul.pages {
  margin-bottom: 50px;
  padding-left: 25px;
}
ul.pages li {
  list-style: none;
}
ul.pages li a {
  color: #E52D27;
  font-size: 20px;
}
ul.pages li a:hover,
ul.pages li a:focus,
ul.pages li a:active {
  color: #CD201F;
}
/********** END POST STYLES **********/
.dropdown.open a.user-link-desktop {
  background: #fff;
  border-left: 1px solid #f1f1f1;
  color: #454545;
}
.dropdown.open a.user-link-desktop:hover {
  background: #f9f9f9;
  color: #454545;
}
.navbar-default .navbar-nav > li > a.user-link-desktop:hover,
.navbar-default .navbar-nav > li > a.user-link-desktop:active,
.navbar-default .navbar-nav > li > a.user-link-desktop:focus {
  background: #f1f1f1;
  color: #333;
}
.navbar-nav > li > a.user-link-desktop {
  padding: 18px 25px;
  padding-bottom: 17px;
  text-align: center;
  background: #000;
  border-left: 1px solid #000;
  color: #fff;
}
.navbar-nav > li > a.user-link-desktop img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.navbar-nav > li > a.user-link-desktop i {
  margin-left: 5px;
}
form.search .form-search input.search-query {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #444;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-right: 15px;
}
form.search .form-search .fa {
  left: 30px;
  position: relative;
  top: 9px;
}
.search-results {
  padding-bottom: 30px;
}
.search-results h4 {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.navbar-nav.navbar-left li {
  display: block;
  width: 100%;
}
.navbar-nav.navbar-left li a {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-nav.navbar-left li a i {
  margin-right: 4px;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  top: 5px;
}
.form-control:focus {
  border-color: #E52D27;
  box-shadow: 0px 0px 0px;
}
/********** BILLING FORM **********/
.payment-errors {
  display: none;
}
#signup-form {
  margin-top: 25px;
}
#signup-form.row {
  margin-left: 0px;
  margin-right: 0px;
}
#signup-form p {
  text-align: center;
  margin: 15px auto;
}
#signup-form .panel-heading {
  background: #E52D27;
  color: #fff;
  padding: 50px;
}
#signup-form .panel-heading .panel-title {
  font-size: 22px;
}
#signup-form .cc-icons img {
  max-width: 220px;
  float: right;
}
#signup-form .panel-body {
  padding: 30px;
}
#signup-form label {
  line-height: 35px;
}
#signup-form select {
  margin-top: 8px;
}
.btn-default.favorite,
.btn-default.expand {
  background-color: #222;
  color: #aaa;
}
.btn-default.expand {
  margin-right: 10px;
}
.btn-default.expand.active {
  background: #191919;
}
.btn-default.favorite:hover,
.btn-default.favorite.active:hover,
.btn-default.expand:hover,
.btn-default.expand.active:hover {
  background-color: #191919;
  color: #ccc;
}
.btn-default.favorite.active:hover .fa.fa-heart,
.btn-default.expand.active:hover .fa.fa-heart {
  color: #E74C3C;
}
.btn-default.favorite.active:hover .fa.fa-expand,
.btn-default.expand.active:hover .fa.fa-expand {
  color: #fff;
}
.btn-primary {
  background: #E52D27;
  border-color: #E52D27;
}
/********** END BILLING FORM **********/
#signup-form .demo-info p {
  text-align: left;
}
.demo-info {
  margin-top: 20px;
}
.demo-info p.title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.demo-info p {
  text-align: left;
}
.demo-info p strong {
  text-decoration: none;
}
/********** SIDEBAR **********/
#sidebar {
  margin-top: 30px;
  padding-bottom: 30px;
}
#sidebar .block {
  margin-bottom: 25px;
}
#sidebar .block h2 {
  max-width: 100%;
  font-size: 13px;
  bottom: -10px;
  left: -5px;
}
#sidebar .block a.block-thumbnail span.play-button {
  background: url(/aflix/content/themes/tubed/assets/img/play-button-small.png);
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}
#sidebar .block p.category {
  max-height: 18px;
  overflow: hidden;
}
#sidebar .block p.category span {
  float: left;
  margin-right: 0px;
}
#sidebar .block p.category a {
  width: 80%;
  float: left;
  margin-left: 5px;
  font-size: 11px;
  padding-top: 3px;
}
#sidebar .block.list {
  margin-bottom: 15px;
}
#sidebar .block.list .block-contents p.date {
  font-size: 12px;
  margin: 6px 0px;
  margin-top: 8px;
}
#sidebar .block .block-contents {
  margin-bottom: 0px;
}
#sidebar .block .block-contents h2 {
  font-size: 16px;
  height: 16px;
  overflow: hidden;
  margin-bottom: 0px;
  margin-top: 5px;
}
/********** END SIDEBAR **********/
#social_share {
  padding: 0px 25px;
  padding-bottom: 15px;
}
#social_share p {
  margin-bottom: 8px;
}
.rrssb-buttons li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}
.rrssb-buttons li:last-child {
  margin-right: 0px;
  padding-right: 0px;
}
/********* End Footer pagination *********/
.growl,
.growl-animated {
  z-index: 999999 !important;
  position: relative;
  top: -2px;
}
#home-right-sidebar {
  background: #ddd;
  height: 100%;
}
#home-right-sidebar h6 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.overflow-hidden {
  overflow: hidden;
}
/********** Home Mini Slider ***********/
.mini-slider {
  overflow: hidden;
  width: 100%;
  postion: relative;
}
.mini-slider ul {
  position: relative;
  -webkit-transition: 0.5s left;
  -moz-transition: 0.5s left;
  -ms-transition: 0.5s left;
  -o-transition: 0.5s left;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0px;
}
.mini-slider ul li {
  float: left;
}
.mini-slider .dot-nav {
  position: absolute;
  right: 14px;
  top: 32px;
}
.mini-slider .dot-nav.top12 {
  top: 12px;
}
.mini-slider .dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: none;
  float: left;
  cursor: pointer;
  margin-right: 5px;
  display: block;
}
.mini-slider .dot:hover {
  background: #333;
}
.mini-slider .dot.active {
  background: #222;
}
.mini-slider h6 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  font-family: roboto;
  color: white;
}
.mini-slider h6.no-padding {
  padding-top: 0px;
}
#right_sidebar {
  background: #292929;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 150px;
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
}
#right_sidebar.post {
  padding-top: 250px;
}
#right_sidebar.post h6 {
  top: 132px;
}
#right_sidebar h6 {
  color: #999;
  background: #111;
  position: absolute;
  width: 100%;
  padding: 20px;
  left: 0px;
  top: 55px;
}
#right_sidebar span.type {
  color: #ccc;
}
#right_sidebar .block {
  margin-bottom: 15px;
}
#right_sidebar .block .block-contents {
  float: none;
  max-height: 60px;
  height: 60px;
}
#right_sidebar p.desc {
  color: #ccc;
  display: none;
}
.modal-open #right_sidebar {
  z-index: -1;
}
#right_sidebar_inner {
  position: absolute;
}
/********** End Home Mini Slider **********/
/*
  ______      __    __     __     ________________
 /_  __/___ _/ /_  / /__  / /_   / ____/ ___/ ___/
  / / / __ `/ __ \/ / _ \/ __/  / /    \__ \\__ \
 / / / /_/ / /_/ / /  __/ /_   / /___ ___/ /__/ /
/_/  \__,_/_.___/_/\___/\__/   \____//____/____/

*/
@media screen and (max-width: 1150px) {
  .navbar-header img {
    height: 26px;
    top: 2px;
  }
  .block a.block-thumbnail img {
  width: 100%;
  border-radius: 3px;
   height:auto;
}
}
@media screen and (max-width: 1080px) {
  .navbar-header img {
    height: 24px;
    top: 3px;
	margin-left: -291px;
  }

  .navbar-nav.navbar-left li a {
    font-size: 13px;
  }
  .search input {
    z-index: 99;
	width:100%;
  }
  .search .fa
  {
  left:392px;
  }
  .hello {
    display: none;
  }
  .search {
    border-top: 1px solid #000;
  }
  #featured ul li .featured-content .feature-info p {
    max-height: 60px;
    overflow: hidden;
  }
  .block a.block-thumbnail img {
  width: 100%;
  border-radius: 3px;
   height:auto;
}
}
@media screen and (max-width: 991px) {

  .right-nav {
    position: absolute;
    right: 0px;
    width: 200px;
    top: 0px;
  }
  .search .fa
  {
  left:732px;
  }
  .navbar-header .menu-toggle {
    left: 12px;
    right: auto;
  }
  #left-sidebar {
    margin-top: 130px;
    display: none;
    position: absolute;
  }
  #right_sidebar {
    display: none;
  }
  .btn.expand {
    display: none;
  }
  #main-content {
    padding-top: 130px;
  }
  #featured {
    padding-top: 65px;
    min-height: 300px !important;
  }
  #left-featured {
    display: none;
  }
  .featured-img {
    display: none;
  }
  .hello {
    display: none;
  }
  #featured ul li .bg-dim-right {
    width: 100%;
  }
  #home-right-sidebar {
    display: none;
  }
  .block a.block-thumbnail img {
  width: 100%;
  border-radius: 3px;
   height:auto;
}
}
/********** Landscape MODE **********/
@media screen and (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background: #fff;
    position: relative;
    float: right;
    border: 1px solid #eee;
  }
  .navbar-nav {
    margin: 0px;
  }
  .search .fa
  {
  left:392px;
  }
  .hello {
    display: none;
  }
  .navbar-right span {
    display: none;
  }
  .right-nav {
    width: 120px;
  }
  #left-sidebar {
    min-width: 180px;
  }
  .navbar-nav.navbar-left li a {
    font-size: 12px;
  }
  #left-sidebar .dropdown.open .dropdown-menu {
    position: absolute;
  }
  .block .block-contents {
    max-height: 96px;
  }
  .btn-default.favorite span {
    display: none;
  }
  .video-details h3 span {
    display: none;
  }
  .block a.block-thumbnail img {
  width: 100%;
  border-radius: 3px;
   height:auto;
}
}
/*
Navbar Toggle
*/
#nav-toggle {
  position: absolute;
  left: 20px;
  top: 25px;
  display: none;
}
#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -8px;
}
#nav-toggle span:after {
  bottom: -8px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 200ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*
    __  ___      __    _ __        ________________
   /  |/  /___  / /_  (_) /__     / ____/ ___/ ___/
  / /|_/ / __ \/ __ \/ / / _ \   / /    \__ \\__ \
 / /  / / /_/ / /_/ / / /  __/  / /___ ___/ /__/ /
/_/  /_/\____/_.___/_/_/\___/   \____//____/____/

*/
@media screen and (max-width: 767px) {
  body #featured ul li .featured-content .feature-info p {
    max-height: 60px;
    overflow: hidden;
  }
  .navbar-nav.navbar-right li.signup-desktop,
  .navbar-nav.navbar-right li.login-desktop {
    width: 120px;
    height: 33px;
  }
  .navbar-nav.navbar-right li.login-desktop a,
  .navbar-nav.navbar-right li.signup-desktop a {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
  }
  .navbar-nav.navbar-right li.signup-desktop a {
    border-top: 1px solid #f1f1f1;
  }
  .hello {
    display: none;
  }
  .navbar-nav.navbar-right li.login-desktop a {
    padding-top: 7px;
  }
  #signup-form .cc-icons {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  #signup-form .cc-icons img {
    float: none;
    margin-top: 20px;
  }
  .block a.block-thumbnail img {
  width: 100%;
  border-radius: 3px;
   height:auto;
}
}
@media screen and (max-width: 400px) {
  .right-nav {
    width: 90px;
  }
  .hello {
    display: none;
  }
  .navbar-nav > li > a.user-link-desktop {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-nav > li > a.user-link-desktop img {
    margin-right: 0px;
  }
  #left-sidebar {
    min-width: 100px;
    padding-right: 0px;
  }
  #left-sidebar .dropdown.open .dropdown-menu {
    margin-left: 0px;
  }
  .guide-menu a {
    padding-left: 4px;
    font-size: 11px;
  }
  #left-sidebar .dropdown.open .dropdown-menu {
    min-width: 120px;
  }
  #left-sidebar .navbar-nav .open .dropdown-menu > li > a {
    font-size: 8px;
  }
  #left-sidebar h4 {
    padding-left: 0px;
    text-align: center;
    margin-right: 20px;
  }
  #left-sidebar .navbar-nav li a {
    left: 0px;
  }
  .guide-menu a i.hv-home-house-streamline,
  .guide-menu a i.hv-tv,
  .guide-menu a i.hv-book-read-streamline {
    font-size: 14px;
    top: 2px;
  }
  #featured ul li .featured-content .feature-info h2 {
    font-size: 26px;
  }
  .video-details h3 {
    font-size: 12px;
  }
  .video-details-container {
    overflow: hidden;
  }
  .video-details-container img {
    max-width: 100%;
    height: auto;
  }
  .navbar-nav.navbar-right li.signup-desktop,
  .navbar-nav.navbar-right li.login-desktop {
    width: 90px;
  }
  #signup-form .panel-heading .panel-title {
    padding-left: 0px;
    padding-right: 0px;
  }
  .block a.block-thumbnail img {
  width: 100%;
  border-radius: 3px;
  height:auto;
}
}
